.createButton{
    background-color: #5fcf90;
    transition: .45s all ease-in-out;
    margin-bottom: 2rem;
    color: white;
}

.createButton:hover{
    background-color: transparent;
    transition: .45s all ease-in-out;
    color: #5fcf90;
}

.customHover:hover {
    color: #7E3AF2;
    font-weight: 700;
    transition: .7s all ease;
}