.loginButton {
    background: transparent;
    color: green;
    border: 1px solid green;
    width: 50%;
    border-radius: 25px;
    padding: .5rem 0;
    transition: .75s all ease-in-out;
    transform: scale(1);
    /* background: -webkit-linear-gradient(
        to right,
        #79a532,
        #73c556,
        #37bf8c,
        #36a3b3
    );

    background: linear-gradient(to right, #79a532, #73c556, #37bf8c, #36a3b3); */
}
.createButton {
    background: transparent;
    color: green;
    border: 1px solid green;
    width: 25%;
    border-radius: 25px;
    padding: .5rem 0;
    transition: .75s all ease-in-out;
    transform: scale(1);
}
.createButton:hover {
    background-color: green;
    color: white;
    transition: .75s all ease-in-out;
    transform: scale(1.1);
}
.loginButton:hover {
    background-color: green;
    color: white;
    transition: .75s all ease-in-out;
    transform: scale(1.1);
}
body {
    background-color: #eee;
}
.logo {
    width: 183px !important;
}
.loginImg{
    background-image: url("../img/login-photo.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#input1:focus {
    border: 1px green solid;
}
#input2:focus {
    border: 1px green solid;
}
#input3:focus {
    border: 1px green solid;
}

.input-focused{
    opacity: .5;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}
